#
# Sample anonymous FTP server configuration
#
# Mandatory directives
#

##local config
write_enable=YES
local_enable=NO
connect_from_port_20=YES
chroot_local_user=YES
listen=YES
background=YES
local_umask=022
listen_address={{ ansible_default_ipv4.address }}


##anonymous config
anonymous_enable=YES
anon_root=/var/ftp/pub/
anon_mkdir_write_enable=YES
anon_other_write_enable=YES
anon_upload_enable=YES
chown_uploads=YES
allow_writeable_chroot=YES
anon_mkdir_write_enable=YES


##enable loging
xferlog_enable=YES
xferlog_file=YES
vsftpd_log_file=/var/log/vsftpd.log
log_ftp_protocol=YES
